<%= @trip.name %>
<%= @trip.total_hiking_distance %>
<%= @trip.average_hiking_distance %>
<% @trip.trails.each do |trail| %>
<%= trail.name %>
<%= trail.address %>
<%= trail.length %>
<% end %>
<div id="longest_trail">
  <h2>Longest Trail on Trip</h2>
  <%= @longest_trail.name if @longest_trail%>
  <%= @longest_trail.length if @longest_trail %>
</div>
<div id="shortest_trail">
  <h2>Shortest Trail on Trip</h2>
  <%= @shortest_trail.name if @shortest_trail%>
  <%= @shortest_trail.length if @shortest_trail %>
</div>
