<%= @trip.name %>
<%= @trip.total_hiking_distance %>
<%= @trip.average_hiking_distance %>
<% @trip.trails.each do |trail| %>
<%= trail.name %>
<%= trail.address %>
<%= trail.length %>
<% end %>
<h2>Longest Trail on Trip</h2>
<%= @longest_trail.name if @longest_trail%>
<%= @longest_trail.length if @longest_trail %>
